@charset "UTF-8";
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf')
    format('opentype');
    font-display: swap;
}

:root {
    --cor1: #F40612; /* Cor botões */
    --cor2: #E60510; /* Cor logo */
    --cor3: #0B6699;
    --cor4: #1C9DE6;
    --cor5: #222222;

    --font1: 'BebasNeue', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    min-height: 100vh;
    font-weight: bold;
    background-image: url('../imagens/Pinguinflix-banner.jpg');
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 94%;
    max-width: 100rem;
    position: relative;
}

.linha1 {
    text-align: center;
    font-family: var(--font1);
    color: var(--cor2);
    font-size: 8em;
    letter-spacing:4px;
}

@media screen and (max-width: 667px) {

}